
<h1>Carrito</h1>

{{#if cart.products.length}}
  <ul>
    {{#each cart.products}}
      <li>
        <strong>{{this.product.title}}</strong> - {{this.product.price}} USD<br>
        Cantidad: {{this.quantity}}<br>
        Categoría: {{this.product.category}}<br>
        <hr>
      </li>
    {{/each}}
  </ul>
{{else}}
  <p>El carrito está vacío.</p>
{{/if}}
